* {
  font-family: "Raleway", "Microsoft JhengHei";
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.pen,
.coffee {
  position: absolute;
}

.pen {
  left: 0;
  top: 80%;
  transform: rotate(180deg) scale(1.2);
}

.coffee {
  top: 2rem;
  right: 0rem;
  transform: rotate(180deg) scale(0.8);
}

#Resume {
  max-width: 576px;
  min-height: 814px;
  background-color: #f2f2f2;
  position: relative;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}
#Resume .border {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  position: absolute;
  left: 20px;
  top: 20px;
  border: 3px solid #a1a1a2;
  z-index: 0;
}

.top {
  position: relative;
  text-align: center;
  padding: 20px;
  padding-top: 40px;
  z-index: 5;
}
.top .decoration {
  position: relative;
  padding: 0 1rem;
  z-index: 0;
}
.top .lines {
  position: absolute;
  width: calc(100% - 2rem);
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.top .lines .line {
  border: 2px solid #a1a1a2;
  margin-top: 5px;
  border-radius: 2px;
  z-index: 5;
}
.top .lines .line:last-child {
  margin-bottom: 5px;
}
.top .circle {
  display: inline-block;
  border-radius: 50%;
  padding: 1rem;
  border: 0.7rem solid #f2f2f2;
  background-color: #44464a;
  color: #f2f2f2;
  z-index: 10;
}
.top .name {
  margin-bottom: 0.5rem;
  color: #44464a;
  letter-spacing: 5px;
}
.top .position {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 1rem;
  background-color: #44464a;
  color: #eceded;
  letter-spacing: 1px;
  border-radius: 4px;
  font-size: 0.7rem;
}

.bottom {
  display: flex;
  z-index: 5;
}
.bottom .section {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}
.bottom h4 {
  letter-spacing: 3px;
}
.bottom ul {
  margin-bottom: 1.5rem;
}
.bottom .left {
  flex: 4;
  background-color: #44464a;
  color: #eceded;
  padding: 1.2rem;
}
.bottom .left .contact {
  padding: 0.25rem 0;
  padding-top: 0;
  position: relative;
}
.bottom .left .contact::after {
  content: "";
  display: inline-block;
  width: calc(100% - 2rem);
  height: 0;
  position: absolute;
  left: 1rem;
  border: 1px solid #eceded;
}
.bottom .left .contact ul {
  padding: 0 1rem;
  margin-top: 0;
}
.bottom .left .contact li {
  display: flex;
  margin-bottom: 0.6rem;
  padding-bottom: 6px;
  align-items: center;
  border-bottom: 1px solid #eceded;
}
.bottom .left .contact li i {
  flex: 1;
}
.bottom .left .contact li span {
  flex: 9;
  padding-left: 4px;
  font-size: 0.8rem;
}
.bottom .left .education {
  position: relative;
  padding-bottom: 0.25rem;
}
.bottom .left .education::after {
  content: "";
  display: inline-block;
  width: calc(100% - 2rem);
  height: 0;
  position: absolute;
  left: 1rem;
  border: 1px solid #eceded;
}
.bottom .left .education .year {
  border: 2px solid #eceded;
  border-right: none;
  display: inline-block;
  padding: 0.4rem;
  position: relative;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.bottom .left .education .year::after {
  content: "";
  border: 2px solid #eceded;
  border-radius: 3px;
  display: inline-block;
  padding: calc(0.8rem - 2px);
  position: absolute;
  top: 2px;
  transform: rotate(45deg) translate(-0.3rem, 0.3rem);
  border-left: 0;
  border-bottom: 0;
}
.bottom .left .education .college-name,
.bottom .left .education .department {
  letter-spacing: 1px;
}
.bottom .left .education .college-name {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.bottom .left .skills {
  position: relative;
}
.bottom .left .skills li {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
.bottom .left .skills .progress-bar {
  display: inline-block;
  width: 45%;
  border-radius: 4px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  border: 2px solid #eceded;
  margin-left: 0.4rem;
  overflow: hidden;
}
.bottom .left .skills .value {
  height: 100%;
  background-color: #eceded;
  border-radius: 4px 0 0 4px;
  margin-right: -1px;
}
.bottom .left .skills .p-85 {
  width: 85%;
}
.bottom .left .skills .p-75 {
  width: 75%;
}
.bottom .left .skills .p-70 {
  width: 70%;
}
.bottom .left .skills .p-50 {
  width: 50%;
}
.bottom .right {
  flex: 6;
  padding: 1.2rem;
  position: relative;
  color: #121314;
}
.bottom .right .work-experience li {
  display: flex;
  margin-bottom: 0.4rem;
}
.bottom .right .work-experience li:last-child .desc {
  margin-bottom: 0;
}
.bottom .right .work-experience li .year {
  flex: 2;
}
.bottom .right .work-experience li .detail {
  flex: 6;
  padding-left: 0.6rem;
  border-left: 4px solid #a1a1a2;
}
.bottom .right .work-experience li .logo,
.bottom .right .work-experience li .position {
  display: inline-block;
}
.bottom .right .work-experience li .logo {
  background-color: #d4d4d5;
  padding: 0.1rem 0.2rem;
  color: #44464a;
}
.bottom .right .work-experience li .position {
  font-weight: bold;
  letter-spacing: 1px;
}
.bottom .right .work-experience li .company {
  margin-bottom: 1rem;
}
.bottom .right .work-experience li .desc {
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.bottom .right .side-project .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.bottom .right .side-project .card {
  flex: 1;
  padding: 0.4rem;
  border: 1.5px solid #a1a1a2;
  border-radius: 4px;
  text-align: center;
}
.bottom .right .side-project .card:first-child {
  margin-right: 0.25rem;
}
.bottom .right .side-project .card:last-child {
  margin-left: 0.25rem;
}
.bottom .right .side-project h4 {
  margin-bottom: 1rem;
}
.bottom .right .side-project h5 {
  text-align: center;
  margin-bottom: 0.5rem;
}
.bottom .right .side-project a {
  width: 100%;
}
.bottom .right .side-project img {
  width: 80%;
}

.email {
  padding-left: 0px;
}
